RecipeSite/RecipeSite/Web References/SecurityQuestionSvc/SecurityQuestion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSecurityQuestions">
        <s:complexType />
      </s:element>
      <s:element name="GetSecurityQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSecurityQuestionsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSecurityQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecurityQuestions" />
  </wsdl:message>
  <wsdl:message name="GetSecurityQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecurityQuestionsResponse" />
  </wsdl:message>
  <wsdl:portType name="SecurityQuestionSoap">
    <wsdl:operation name="GetSecurityQuestions">
      <wsdl:input message="tns:GetSecurityQuestionsSoapIn" />
      <wsdl:output message="tns:GetSecurityQuestionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityQuestionSoap" type="tns:SecurityQuestionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSecurityQuestions">
      <soap:operation soapAction="http://tempuri.org/GetSecurityQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SecurityQuestionSoap12" type="tns:SecurityQuestionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSecurityQuestions">
      <soap12:operation soapAction="http://tempuri.org/GetSecurityQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityQuestion">
    <wsdl:port name="SecurityQuestionSoap" binding="tns:SecurityQuestionSoap">
      <soap:address location="https://localhost:44303/SecurityQuestion.asmx" />
    </wsdl:port>
    <wsdl:port name="SecurityQuestionSoap12" binding="tns:SecurityQuestionSoap12">
      <soap12:address location="https://localhost:44303/SecurityQuestion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>