RecipeSite/RecipeSite/Web References/SearchDDLSvc/SearchDDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDDLItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectedValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDDLItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDDLItemsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDDLItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDDLItems" />
  </wsdl:message>
  <wsdl:message name="GetDDLItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDDLItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="SearchDDLSoap">
    <wsdl:operation name="GetDDLItems">
      <wsdl:input message="tns:GetDDLItemsSoapIn" />
      <wsdl:output message="tns:GetDDLItemsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchDDLSoap" type="tns:SearchDDLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDDLItems">
      <soap:operation soapAction="http://tempuri.org/GetDDLItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SearchDDLSoap12" type="tns:SearchDDLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDDLItems">
      <soap12:operation soapAction="http://tempuri.org/GetDDLItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchDDL">
    <wsdl:port name="SearchDDLSoap" binding="tns:SearchDDLSoap">
      <soap:address location="https://localhost:44303/SearchDDL.asmx" />
    </wsdl:port>
    <wsdl:port name="SearchDDLSoap12" binding="tns:SearchDDLSoap12">
      <soap12:address location="https://localhost:44303/SearchDDL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>